.pag{
    overflow: hidden;
}
.header{
    position: relative;
    z-index: 99;
    background: #fff;
}
.cart-item{
    border-bottom: 1px solid #ccc;
    padding:20px;
}
.cart-list{
    padding-top: 148px;
    background: #fff;
    padding-top:40px;
    padding-bottom:100px;
}
.pic{
    width: 140px;
    height:140px;
    border: 1px solid #eee;
   margin-left:20px;
}
.pic img{
    width: 100%;
    border: 1px solid #eee;

}
.num-box{
    position: absolute;
    text-align:center;
    border:1px solid #888;
    overflow: hidden;
    float: right;
    border-radius: 10px;
    top:70px;
    right:30px;

    }
.num-text{ 
    height:60px;
    width:60px;
    float: left; 
    text-align: center;
    border-right: 1px solid #888;
    border-left:1px solid #888;
    color:#6c6565
    }
.num-btn{
    float:left;
    width: 60px;
    color:#000;
    display:inline-block;
    line-height: 62px;
    }
.fl{
    float:left;
    color:#ff4948;
    font-size:30px;
    font-weight: bold;
}
.unit{
    font-size: 28px;
    color: #6c6565;
    margin:10px 0;
}

.to-info{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 100;
}
.to-info li{
    height:100px;
    text-align: center;
    line-height: 100px;
    width: 100%;
    font-size: 40px;
    font-weight: bold;

}
.to-info li:nth-child(1){
     background-color: #fff;
     font-size: 30px;       
}
.to-info li:nth-child(1) span{
    color: #ff4948;
    font-size:40px;

}
.to-info li:nth-child(2){
     background-color: #ed5564;
     color:#fff;
     width: 350px;
}
.title{
    font-size: 34px;
    width: 100%;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color:#888;
    margin-top:90px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    z-index: 100;
}
.title p:nth-child(1){
    height:88px;
    line-height: 88px;
    color:#000;
    border-bottom: 1px solid #eee;
}
.title p:nth-child(1) span{
   margin-left: 20px;
}
.title p:nth-child(1) img{
   margin:0 0 -10px 20px;;
}
.title p:nth-child(2){
    height:60px;
    line-height: 60px;
    font-size: 24px;
    margin-left: 40px;
}
.title p:nth-child(2) span{
    font-size: 24px;
    background: #ed5564;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    width: 90px;
    height:36px;
    line-height: 36px;
    text-align: center;
    margin-right: 20px;
}

